name: Pipeline de Integración Continua (CI)

# 1. TRIGGER
# Le decimos a GitHub CUÁNDO debe correr esto.
on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

# 2. JOBS
# Le decimos a GitHub QUÉ debe hacer.
jobs:
  # Definimos un solo job para construir y testear nuestra app
  build-and-test:
    name: Construir y Testear con Docker
    
    # Le pedimos a GitHub una máquina virtual con Linux (Ubuntu)
    runs-on: ubuntu-latest

    # 3. STEPS
    steps:
    # La secuencia de comandos que debe ejecutar
      # Paso 1: Bajar el código
      - name: 1. Bajar el código (Checkout)
        uses: actions/checkout@v4

      # Paso 2: Configurar Docker QEMU 
      - name: 2. Configurar Docker QEMU
        uses: docker/setup-qemu-action@v3
      
      # Paso 3: Configurar Docker Buildx
      - name: 3. Configurar Docker Buildx
        # Esta acción instala y habilita el plugin "compose"
        uses: docker/setup-buildx-action@v3

      # Paso 4: Levantar el ambiente 
      - name: 4. Levantar el ambiente (Docker Compose)
        run: docker compose up -d

      # Paso 5: Esperar a que la BDD (Mongo) se inicie
      - name: 5. Esperar a que la BDD (Mongo) se inicie
        run: sleep 10

      # Paso 6: Correr los tests
      - name: 6. Correr Pruebas (npm run test)
        run: docker compose exec -T app npm run test
  

  

 